URL=http://localhost:3000

NEXT_PUBLIC_GOOGLE_PLACES_API=
NEXT_PUBLIC_GOOGLE_MAP_API=
NEXT_PUBLIC_GOOGLE_MAP_ID=
ENV=dev

GITHUB_ID=
GITHUB_SECRET=

GOOGLE_ID=
GOOGLE_SECRET=

NEXTAUTH_URL=http://localhost:3000
AUTH_SECRET=

MONGODB_URI=mongodb+srv://...
MONGODB_NAME=
MONGODB_USERNAME=
MONGODB_PASSWORD=