@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 26, 29, 31;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 26, 29, 31;
  }
}

body {
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.form-input-light {
  @apply max-w-md w-full border border-2 border-primary-light focus-within:outline focus-within:outline-offset-2 focus-within:outline-grey-base focus-within:outline-2 rounded-lg bg-transparent py-2 px-4 placeholder:text-white placeholder:opacity-40 text-lg
}

.btn-light {
  @apply border border-2 border-grey-base bg-grey-base text-primary-base rounded-lg px-6 py-2 px-4 w-full hover:bg-grey-dark text-lg focus-within:outline focus-within:outline-offset-[-4px] focus-within:outline-primary-base focus-within:outline-2
}

.anchor-link {
  @apply border-l-0 border-t-0 border-r-0 hover:border-b-2 hover:border-white
}

/* Generic Loading Skeleton */
@keyframes shimmer {
  to {
    background-position: 200px 0;
  }
}

.animate-shimmer {
  background-image: linear-gradient(to right, #eee 10%, #ddd 20%, #eee 30%);
  background-size: 800px 100px;
  animation: shimmer 1.5s infinite forwards;
}

/* Logo Animation */
@keyframes flip {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(1);
  }
}

.animate-flip {
  animation: flip 2s infinite;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}